<!DOCTYPE html>
<html title="Blog">
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
    
    <div class = "container">
        {{> header}}
        {{{body}}}
        {{> footer}}
    </div>
    
</body>
</html>